# Cookie Chain RPC (read-only + Send COOK)
NEXT_PUBLIC_RPC_URL=https://rpc.cookiescan.io
NEXT_PUBLIC_WSS_URL=wss.cookiescan.io

# DAS API (Metaplex Digital Asset Standard)
NEXT_PUBLIC_DAS_URL=https://api.cookiescan.io

# Cookie Chain Network
NEXT_PUBLIC_CHAIN_NAME=cookie-chain

# COOK Token (native gas token)
NEXT_PUBLIC_COOK_MINT=36ZrtQoab5MhhySaP1YSTwUahSk6GRVUTtZ6cuVfm9e1

# CoinGecko COOK price provider id
NEXT_PUBLIC_COOK_COINGECKO_ID=cookie-2

# wallet-standard chain identifier for signing on Cookie Chain
NEXT_PUBLIC_WALLET_STANDARD_CHAIN=solana:mainnet

# Resource addresses (public)
NEXT_PUBLIC_SPL_TOKEN_PROGRAM_ID=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
NEXT_PUBLIC_ATA_PROGRAM_ID=ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL

# Explorer / Bridge
NEXT_PUBLIC_EXPLORER_URL=https://cookiescan.io
NEXT_PUBLIC_BRIDGE_URL=https://hyperlane.cookiescan.io